<launch>
    <node pkg="pcl_ros" type="pointcloud_to_pcd" name="pointcloud_to_pcd" output="screen">
        <remap from="input" to="camera/depth/points"/>
        <!-- prefix : set output folder path. without this, save pcd files in.ros folder. -->
        <param name="prefix" value="pcd_data/pcd_" />
        <param name="fixed_frame" value="camera_link" />
        <param name="binary" value="false" />
        <param name="compressed" value="false" />
    </node>
</launch>
