<launch>
	<node name="new_touteki_talker" pkg="trkikou" type="new_touteki_talker">
		<param name="deg_pick" value="-70"/>
		<param name="deg_lift" value="-78"/>
		<param name="time_lift" value="300"/>
		<param name="deg_launch" value="360"/>
		<param name="deg_stop1" value="720"/>
		<param name="deg_slow" value="260"/>
		<param name="deg_stop2" value="60"/>
		<param name="pw_launch" value="240"/>
		<param name="pw_return" value="100"/>
	</node>

	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="115200" />
	</node>

	<node name="task_manager_tr" pkg="task_manager" type="task_manager_tr"/>

	<node name="joy_node" pkg="joy" type="joy_node">
		<param name="dev" type="string" value="/dev/input/js2"/>
	</node>
</launch>
