<launch>
    <rosparam command="load" file="$(find kinematics_model)/constant_dr.yaml" />

    <node pkg="joy" type="joy_node" name="joy_node"/>
    
    <node pkg="rosserial_python" type="serial_node.py" name="arduino_mega">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="250000"/>
    </node>
    
    <node pkg="task_manager" type="task_manager_dr" name="task_manager_dr" />

    <node pkg="kinematics_model" type="kinematics_model_node" name="kinematics_model" />

</launch>
