<launch>
	<node name="air_launch_node" pkg="air_launch" type="air_launch_node">
		<param name="position3" value="4000"/>
		<param name="position4" value="7000"/>
		<param name="pos3_range" value="50"/>
		<param name="pos4_range" value="50"/>
		<param name="delay_hassya" value="2000"/>
		<param name="speed" value="-200"/>
	</node>

	 <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
	 	<param name="port" type="string" value="/dev/ttyACM0"/>
		<param name="baud" value="115200"/>
	 </node>
</launch>
