<launch>
	<!-- select nodes that are launched -->
	<arg name="LaunchMechanism" value="True"/>
	<arg name="LaunchKinematicsModel" value="False"/>

	<!-- load parameters -->
	<rosparam command="load" file="$(find task_manager)/launch/tr_params.yaml"/>

	<!-- joy and task_manager -->
	<node pkg="joy" type="joy_node" name="joy_node">
	    <param name="dev" value="/dev/input/js0"/>
	</node>
	<node pkg="task_manager" type="task_manager_tr" name="task_manager_tr" />

	<!-- kinematics_model -->
	<group if="$(arg LaunchKinematicsModel)">
		<node pkg="rosserial_python" type="serial_node.py" name="arduino_mega_mecanum">
			<param name="port" value="/dev/arduino_mecanum"/>
			<param name="baud" value="250000"/>
		</node>
		<node pkg="kinematics_model" type="kinematics_model_node" name="kinematics_model" />
	</group>

	<!-- mechanism -->
	<group if="$(arg LaunchMechanism)">
		<node pkg="tr_mechanism" type="tr_mechanism_node" name="tr_mechanism_node"/>

		<node pkg="rosserial_python" type="serial_node.py" name="arduino_const_air">
			<param name="port" value="/dev/arduino_const_air"/>
			<param name="baud" value="250000"/>
		</node>

		<node pkg="rosserial_python" type="serial_node.py" name="arduino_rack"> 
			<param name="port" value="/dev/arduino_rack"/> 
			<param name="baud" value="250000"/> 
		</node>
	</group>



</launch>
