<launch>
	<node pkg="signal_processing" type="gyro_kalman" name="gyro_kalman"/>
	<node pkg="signal_processing" type="dead_reckoning" name="dead_reckoning"/>

	<node pkg="urg_node" type="urg_node" name="urg_node">
		<param name="ip_address" value="192.168.0.10"/>
	</node>

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node1">
		<param name="port" value="/dev/ttyACM1"/>
	</node>
	
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node2">
		<param name="port" value="/dev/ttyACM2"/>
	</node>
</launch>
